

.fb-icon-hat{
    background-position: 0 -1469px;
}

.fb-icon-people{
    background-position: 0 -1006px;
}

.fb-icon-news{
    background-position: 0 -1111px;
}

.fb-icon-messenger{
    background-position: 0 -796px;
}

.fb-icon-options{
    background-position: 0 -629px;
}

.fb-icon-calendar{

}

.fb-icon-flag{

}

.fb-icon-back-clock{

}

.fb-icon-insights{

}

.fb-icon-friends{

}

.fb-icon-news-yellow{

}

.fb-icon-settings{

}

.fb-icon-photo{

}

.fb-icon-tetris{

}

.fb-icon-check-in{

}

.fb-icon-offer{

}

.fb-icon-video{

}

.fb-icon-translate{

}

.fb-icon-weather{

}

.fb-icon-bookmark{

}

.fb-icon-react{

}

.fb-icon-options{

}

.fb-icon-crisis{

}

.fb-icon-frame-photo{

}

.fb-icon-people-photo{

}

.fb-icon-etiquette{

}

.fb-icon-joystick{

}

.fb-icon-back-dollar{

}

.fb-icon-ad{

}

.fb-icon-reccomandations{

}