.fb-icons-1{
    background-image: url(img/fb_logos1.png);
    background-repeat: no-repeat;
    background-size: auto;
}

.fb-icons-2{
    background-image: url(img/fb_logos2.png);
    background-repeat: no-repeat;
    background-size: auto;
}

.fb-icons-3{
    background-image: url(img/fb_logos3.png);
    background-repeat: no-repeat;
    background-size: auto;
}

.fb-icons-4{
    background-image: url(img/fb_logos4.png);
    background-repeat: no-repeat;
    background-size: auto;
}

.fb-icons-5{
    background-image: url(img/fb_logos5.png);
    background-repeat: no-repeat;
    background-size: auto;
}

.fb-icons-6{
    background-image: url(img/fb_logos6.png);
    background-repeat: no-repeat;
    background-size: auto;
}

.fb-icons-7{
    background-image: url(img/fb_logos7.png);
    background-repeat: no-repeat;
    background-size: auto;
}

.fb-icons-8{
    background-image: url(img/fb_logos8.png);
    background-repeat: no-repeat;
    background-size: auto;
}

.fb-icons-9{
    background-image: url(img/fb_logos9.png);
    background-repeat: no-repeat;
    background-size: auto;
}

.fb-icon-hat{
    background-position: 0 -1469px;
}

.fb-icon-people{
    background-position: 0 -1006px;
}

.fb-icon-news{
    background-position: 0 -1111px;
}

.fb-icon-messenger{
    background-position: 0 -796px;
}

.fb-icon-options{
    background-position: 0 -629px;
}

.fb-icon-calendar{
    background-position: 0 -880px;
}

.fb-icon-flag{
    background-position: 0 -1216px;
}

.fb-icon-back-clock{
    background-position: 0 -1196px;
}

.fb-icon-insights{
    background-position: 0 -1069px;
}

.fb-icon-friends{
    background-position: 0 -1132px;
}

.fb-icon-news-yellow{
    background-position: 0 -1237px;
}

.fb-icon-settings{
    background-position: 0 -1048px;
}

.fb-icon-photo{
    background-position: 0 -1300px;
}

.fb-icon-tetris{
    background-position: 0 -901px;
}

.fb-icon-check-in{
    background-position: 0 -650px;
}

.fb-icon-offer{
    background-position: 0 -1175px;
}

.fb-icon-video{
    background-position: 0 -1048px;
}

.fb-icon-weather{
    background-position: 0 -1385px;
}

.fb-icon-bookmark{
    background-position: 0 -1342px;
}

.fb-icon-react{
    background-position: 2px -2029px;
}

.fb-icon-options{
    background-position: 0 -629px;
}

.fb-icon-crisis{
    background-position: 0 -838px;
}

.fb-icon-frame-photo{
    background-position: 3px -2010px;
}

.fb-icon-people-photo{
    background-position: 0 -1280px;
}

.fb-icon-etiquette{
    background-position: -16px -1993px;
}

.fb-icon-joystick{
    background-position: 0 -923px;
}

.fb-icon-back-dollar{
    background-position: 0 -1259px;
}

.fb-icon-ad{
    background-position: 0 -1762px;
}

.fb-icon-reccomandations{
    background-position: -16px -2012px;
}

.fb-icon-pen{
    background-position: 0 -338px;
}

.fb-icon-book{
    background-position: 0 -355px;
}

.fb-icon-camera{
    background-position: 0 -304px;
}

.fb-icon-photo-2{
    background-position: 0 -689px;
}

.fb-icon-smile{
    background-position: 0 -584px;
}

.fb-icon-globe{
    background-position: -13px -103px;
}

.fb-icon-like{
    background-position: 0 -193px;
}

.fb-icon-comment{
    background-position: 0 -155px;
}

.fb-icon-share{
    background-position: -19px -269px;
}

.fb-icon-like-1{
    background-position: 0 -716px;
}

.fb-icon-heart{
    background-position: -17px -682px;
}

.fb-icon-wow{
    background-position: 0 -733px;
}

.fb-icon-pale-smile{
    background-position: -34px -62px;
}

.fb-icon-pale-camera{
    background-position: 0 -62px;
}

.fb-icon-pale-gif{
    background-position: -17px -79px;
}

.fb-icon-pale-sticker{
    background-position: -34px -96px;
}

.fb-icon-pale-smile:hover{
    background-position: 0 -79px;
}

.fb-icon-pale-camera:hover{
    background-position: -17px -62px;
}

.fb-icon-pale-gif:hover{
    background-position: -34px -79px;
}

.fb-icon-pale-sticker:hover{
    background-position: 0 -113px;
}

.fb-icon-reply {
    background-position: 0 -383px;
}

.fb-icon-gift{
    background-position: -362px -49px;
}

.fb-icon-drop{
    background-position: -484px -49px;
}