.fb-icons-1{
    background-image: url(img/fb_logos1.png);
    background-repeat: no-repeat;
    background-size: auto;
}

.fb-icons-2{
    background-image: url(img/fb_logos2.png);
    background-repeat: no-repeat;
    background-size: auto;
}

.fb-icons-3{
    background-image: url(img/fb_logos3.png);
    background-repeat: no-repeat;
    background-size: auto;
}

.fb-icons-4{
    background-image: url(img/fb_logos4.png);
    background-repeat: no-repeat;
    background-size: auto;
}

.fb-icon-hat{
    background-position: 0 -1469px;
}

.fb-icon-people{
    background-position: 0 -1006px;
}

.fb-icon-news{
    background-position: 0 -1111px;
}

.fb-icon-messenger{
    background-position: 0 -796px;
}

.fb-icon-options{
    background-position: 0 -629px;
}

.fb-icon-calendar{
    background-position: 0 -880px;
}

.fb-icon-flag{
    background-position: 0 -1216px;
}

.fb-icon-back-clock{
    background-position: 0 -1196px;
}

.fb-icon-insights{
    background-position: 0 -1069px;
}

.fb-icon-friends{
    background-position: 0 -1132px;
}

.fb-icon-news-yellow{
    background-position: 0 -1237px;
}

.fb-icon-settings{
    background-position: 0 -1048px;
}

.fb-icon-photo{
    background-position: 0 -1300px;
}

.fb-icon-tetris{
    background-position: 0 -901px;
}

.fb-icon-check-in{
    background-position: 0 -650px;
}

.fb-icon-offer{
    background-position: 0 -1175px;
}

.fb-icon-video{
    background-position: 0 -1048px;
}

.fb-icon-weather{
    background-position: 0 -1385px;
}

.fb-icon-bookmark{
    background-position: 0 -1342px;
}

.fb-icon-react{
    background-position: 2px -2029px;
}

.fb-icon-options{
    background-position: 0 -629px;
}

.fb-icon-crisis{
    background-position: 0 -838px;
}

.fb-icon-frame-photo{
    background-position: 3px -2010px;
}

.fb-icon-people-photo{
    background-position: 0 -1280px;
}

.fb-icon-etiquette{
    background-position: -16px -1993px;
}

.fb-icon-joystick{
    background-position: 0 -923px;
}

.fb-icon-back-dollar{
    background-position: 0 -1259px;
}

.fb-icon-ad{
    background-position: 0 -1762px;
}

.fb-icon-reccomandations{
    background-position: -16px -2012px;
}