html, body{
    padding: 0;
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #1d2129;
}

body{
    padding-top: 42px;
    background-color: #e9ebee;
}

* {
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

a, a:focus, a:visited, a:hover, a:active{
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.inblock{
    display: inline-block;
}

.header{
    height: 42px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #4267b2;
    border-bottom: 1px solid #29487d;
    z-index: 1000;
}

.header-container{
    max-width: 1012px;
    height: 42px;
    line-height: 42px;
    margin: 0 auto;
    display: flex;
}

.profile-picture{
    position: relative;
}

.profile-picture::after{
    border: 1px solid rgba(0, 0, 0, .1);
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 50%;
}

.header-left{
    flex-grow: 8;
    position: relative;
    display: flex;
}

@media only screen and (max-width: 1020px){
    .header-left{
        left: 8px;
    }
}

.header-right{
    margin-right: -7px;
    min-width: 336px;
    flex-grow: 2;
}

.logo{
    width: 24px;
    height: 24px;
    margin: 9px 0;
    background-position: 0 -171px;
}

.search-bar{
    max-width: 448px;
    min-width: 144px;
    width: 100%;
    margin-left: 6px;
    position: relative;
}

.search-wrapper{
    width: 100%;
    height: 24px;
    position: relative;
    border: none;
    top: 9px;
}

.search-input{
    border: none;
    font-size: 14px;
    padding-left:7px;
    border-radius: 3px;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

.search-input:focus{
    outline: none;
}

.search-button{
    position: absolute;
    cursor:pointer;
    top: 0;
    right: 0;
    border: none;
    border-radius: 0 3px 3px 0;
    height: 100%;
    padding: 0 16px;
    height: 24px;
    background-color: #f6f7f9;
    transition: 200ms cubic-bezier(.08,.52,.52,1) background-color;
}

.search-button:hover{
    background-color:#e9ebee;
}

.search-button:focus{
    outline:none;
    background-color: #4080ff;
    background-position: 0 -633px;
}

.search-logo {
    background-origin: content-box;
    display: inline-block;
    margin: -1px;
    padding: 1px;
    position: relative;
    right: 0;
    top: -2px;
    vertical-align: middle;
    background-position: 0 -618px;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.header-right>*{
    float:right;
}

.header-img{
    height: 24px;
    color: white;
    vertical-align: middle;
    position: relative;
    right: -5px;
}

.header-user-logo{
    margin-top: 2px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin: 2px 3px 2px -8px;
}

.header-links-wrapper{
    margin-right: 10px;
    margin-top: -1px;
}

.header-links{
    font-size: 12px;
    font-weight: bold;
    color: white;
    line-height: 28px;
    height: 28px;
    padding: 0 10px;
    border-radius: 1px;
}

.header-links a{
    font-size: 12px;
    font-weight: bold;
    color: white;
}

.header-links:hover{
    background-color:rgba(0,0,0,0.1);;
}

.header-user-name{
    vertical-align: top;
}

.header-sep{
    border-left:1px solid rgba(0,0,0,0.1);
}

.header-icons{
    width: 27px;
    height: 27px;
    vertical-align: middle;
    opacity: .6;
}

.header-icons.message{
    margin: 0 1px;
}

.header-extra-icons{
    margin-left: 9px;
    margin-top: -3px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    opacity: .6;
}

.header-extra-icons:hover{
    opacity: .8;
}

.header-icons:hover{
    opacity: .8;
}

.friend-requests{
    background-position: 0 -275px;
}

.friend-requests:focus{
    background-position: 0 -300px;
    opacity: 1;
}

.messages{
    background-position: 0 -246px;
}

.messages:focus{
    background-position: 0 -271px;
    opacity: 1;
}

.notifications{
    background-position: 0 -425px;
}

.notifications:focus{
    background-position: 0 -450px;
    opacity: 1;
}

.help-icon{
    background-position: 0 -466px;
    margin-left: 13px;
}

.help-icon:focus{
    background-position: 0 -487px;
    opacity: 1;
}

.drop-icon{
    background-position: 0 -711px;
    vertical-align: middle;
    margin-top: 3px;
    display: inline-block;
}

.drop-icon:focus{
    background-position: 0 -728px;
    opacity: 1;
}

.notifications-bar{
    margin: 0 9px;
}

.main{
    max-width: 1012px;
    margin: 0 auto;
    padding-top: 12px;
}

.left-panel {
    float: left;
    width: 180px;
    position: fixed;
}

.main-panel{
    float: right;
    width: 820px;
    margin-left: 12px;
}

.middle-panel{
    float: left;
    width: 500px;
}

.right-panel{
    float: right;
    width: 308px;
}

.section-list{
    font-size: 13px;
    margin-bottom: 10px;
    position: relative;
}

.section-list .active{
    font-weight: bold;
}

.section-edit{
    position: absolute;
    top: 0;
    right: 0;
    color: #365899;
    display: inline-block;
    padding: 4px 0;
    margin-right: 5px;
    display: none;
}

.section-list:hover .section-edit{
    display: block;
}

.section-edit:hover{
    text-decoration: underline;
}

.section-title{
    padding: 4px 0;
    font-weight: bold;
    color: #616770;
}

.section-list-item{
    margin-left: -4px;
    padding-left: 4px;
    height: 29px;
    line-height: 29px;
    border-radius: 2px;
    padding: 0 4px 0 28px;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.section-list-item *{
    z-index: 1;
    position: relative;
    vertical-align: middle;
}

.section-item-a{
    color: #1d2129;
    display: inline-block;
    min-width: 127px;
}

.section-list-item::after{
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border-radius: 2px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: #f6f7f9;
    border: 1px solid #dddfe2;
    opacity: 0;
    transition: opacity 0.1s;
}

.section-item-options-btn{
    position: absolute;
    top: 46%;
    right: 0;
    transform: translateY(-50%);
    background-color: #f6f7f9;
    opacity: 0;
    transition: opacity 0.1s;
}

.section-list-item.active .section-item-options-btn,
.section-list-item:hover .section-item-options-btn{
    opacity: 1;
}

.section-list-item:hover::after, 
.section-list-item.active::after{
    opacity: 1;
}

.section-list-text{
    max-width: 126px;
    margin-left: -3px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: top;
}

.section-number{
    float: right;
    font-size: 11px;
    height: 17px;
    margin-left: -2px;
    color: #90949c;
    padding: 0 3px;
}

.section-icon{
    margin: 4px 6px 0 -24px;
}

.section-icon .fb-icons-2 {
    width: 20px;
    height: 20px;
    margin-top: -4px;
}

.side-user{
    width: 20px;
    height: 20px;
    margin-top: -12px;
    border-radius: 50%;
}

.create-list{
    color: #90949c;
}

.create-item{
    display: inline;
}

.usual-a{
    color: #365899;
}

.usual-a:hover{
    text-decoration: underline;
}

.dot{
    line-height: 1px;
    vertical-align: top;
    display: inline-block;
    margin-top: 3px;
}

.new-post-container{
    background-color: #fff;
    border: 1px solid #dddfe2;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 10px;
}

.new-post-header{
    height: 34px;
    line-height: 34px;
    background-color: #f6f7f9;
    border-bottom: 1px solid #dddfe2;
    border-radius: 2px 2px 0 0;
    font-weight: bold;
    font-size: 12px;
}

.new-post-header-item{
    color: #365899;
    margin: 0 8px;
}

.new-post-header-item.active{
    color: #4b4f56;
}

.new-post-header-icon{
    height: 16px;
    width: 16px;
    vertical-align: middle;
    margin-top: -3px;
}

.make-post{
    position: relative;
}

.make-post::after{
    border-bottom: 8px solid #fff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    content: '';
    position: absolute;
    left: 39px;
    top: 26px;
}

.make-post-arrow{
    border-bottom: 9px solid #e9ebee;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    content: '';
    position: absolute;
    left: 38px;
    top: 25px;
}

.new-post-body{
    padding: 12px;
    margin-bottom: 2px;
}

.post-user-pic{
    height: 40px;
    width: 40px;
    position: relative;
}

.post-user-pic img{
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.post-user-pic:after{
    border: 1px solid rgba(0, 0, 0, .1);
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 50%;
}

.new-post-input{
    border: none;
    resize: none;
    outline: none;
    width: calc(100% - 50px);
    font-family: inherit;
    padding-left: 10px;
}

.divider{
    border-bottom: 1px solid #E9EBEE;
    margin: 0px 12px;
}

.new-post-footer{
    margin: 9px 12px;
}

.new-post-footer-item{
    height: 32px;
    background: #f6f7f9;
    padding: 0 10px;
    padding-right: 15px;
    border-radius: 16px;
    transition: background 0.1s;
}

.new-post-footer-item:hover{
    background: #E9EBEE;
    cursor: pointer;
}

.new-post-footer-text{
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    vertical-align: middle;
    font-weight: 600;
    margin-top: -8px;
    display: inline-block;
    color: #4b4f56;
}

.new-post-footer-icon{
    width: 20px;
    height: 20px;
    margin-top: 4px;
}

.new-post-footer-icon.fb-icon-options{
    margin-right: -5px;
    background-position: 0 -626px;
}

.item-container{
    border-radius: 4px;
    border: 1px solid #dddfe2;
    background-color: #fff;
    width: 100%;
}

.post-header{
    padding: 12px 12px 0 12px;
}

.post-footer .divider{
    margin: 0;
}

.post-header a:hover{
    text-decoration: underline;
}

.post-header-about{
    vertical-align: top;
    padding-left: 3px;
    padding-top: 1px;
}

.post-header-text{
    color: #616770;
    font-size: 14px;
}

.post-header-user{
    font-weight: bold;
    color: #365899;
}

.post-header-about-extra{
    color: #616770;
    font-size: 12px;
    line-height: 24px;
}

.post-time{
    color: #616770;
}

.post-header-about-extra .dot{
    line-height: 12px;
}

.post-extra-icon{
    width: 12px;
    height: 12px;
    vertical-align: middle;
    margin-top: -2px;
}

.post-options{
    float:right;
    cursor:pointer;
}

.post-header-icon{
    width:20px;
    height:20px;
}

.post-profile-picture-wrapper{
    border: 1px solid #dddfe2;
    width:478px;
    height:465px;
}

.post-body{
    padding: 0 12px 0 12px;
    margin-top: 10px;
}

.post-profile-picture-cover{
    height: 177px;
    width: 100%;
    overflow: hidden;
}

.post-profile-picture img{
    border: 4px solid #fff;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .1);
    width: 364px;
    height: 364px;
    object-fit: cover;
    object-position: 0 -30px;
    margin: 0 auto;
    display: block;
    margin-top: -135px;
    z-index: 1;
    position: relative;
}

.post-actions {
    display: flex;
    margin: 4px 0;
}

.post-actions>a{
    display: block;
}

.post-action {
    width: 100%;
    text-align: center;
    height: 32px;
    line-height: 32px;
    cursor: pointer;
}

.post-action:hover{
    background-color: rgba(29, 33, 41, .04);
    border-radius: 2px;
}

.post-action-text{
    color: #616770;
    font-size: 13px;
    font-weight: bold;
}

.post-actions-icon{
    position: relative;
    height: 18px;
    top: 4px;
    width: 18px;
}

.post-footer{
    background-color: #f2f3f5;
    padding: 0 12px 12px 12px;
    border-radius: 0 0 4px 4px;
}

.post-likes{
    border-top: 1px solid #dddfe2;
    border-left: 2px solid #4080FF;
    background-color: #f2f3f5;
    padding: 9px 12px;
    margin-left: -1px;
}

.post-reactions-icons{
    position: relative;
    top: 2px;
}

.post-reactions-icon{
    border: 1px solid #f2f3f5;
    border-radius: 50%;
    margin-right: -7px;
    height: 18px;
    width: 18px;
    position:relative;
}

.post-reactions-text{
    color: #365899;
    font-size: 13px;
    position: relative;
    top: -3px;
    margin-left: 5px;
}

.post-reactions-text:hover{
    text-decoration: underline;
}

.post-comment{
    margin-top: 7px;
}

.post-comment-picture-wrapper{
    float: left;
}

.post-comment-main{
    margin-left: 5px;
    position: relative;
}

.post-comment-body{
    min-height: 32px;
    background-color: #fff;
    border-radius: 16px;
    max-width: 409px;
}

.post-comment-text{
    font-size: 13px;
    padding: 8px 10px;
    display: inline-block;
}

.post-comment-picture{
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
}

.post-comment-picture img{
    width: 32px;
    height: 32px;
}

.post-comment-footer{
    font-size: 12px;
    line-height: 12px;
    margin-left: 10px;
    margin-top: 4px;
}

.post-comment-user{
    font-weight: bold;
}

.post-comment-options{
    position: absolute;
    top: calc(50% - 7px);
    transform: translateY(-50%);
    right: -25px;
}

.post-comment-options-icon{
    width: 20px;
    height: 20px;
    display: none;
}

.post-comment:hover .post-comment-options-icon{
    display: block;
}